<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="icon" type="images/png" href="/static/favicon.ico" sizes="32x32">
    <link rel="stylesheet" href="/static/css/style.css">
    
</head>
<body>
    <header>
        
    </header>
    <div class="content">
        
        <div class="error-box">
            <h1>{{ status_code }}</h1>
            <p>{{ detail }}</p>
        </div>

    </div>
</body>
</html>